@model IEnumerable<WebAppProjectMJB.Models.Accessories>

@{
    ViewData["Title"] = "Index";
}

<h3 style="font-size:30px; color:white" ;>Aceessories List</h3>

@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<body style="        background: url(https://img.mensxp.com/media/content/2020/Feb/Best-Deals-On-Consoles--Accessories-1400x653_5e4f893661fcc.jpeg) no-repeat center center fixed;
        background-size: 100% 100%;">
</body>

<div class="container">
    <form asp-action="Search" id="searchInputAcss" class="col-sm-3 form-group">
        <input class="form-control" id="UserinputAcss" name="query" type="search" placeholder="type any key to search">
        <br />
        @*<input type="submit" class="btn btn-primary" value="Search" />*@
    </form>
</div>

<div class="container">
    <div class="row" id="tabAcss">
        @foreach (var item in Model) //the main loop for put more items
        {


            <div class="col-sm-3">


                <div class="card" style="width: 18rem;">
                    <img src="@item.Image" class="card-img-top" alt="no">
                    <div class="card-body">
                        <h5 class="card-title"> @item.Name</h5>
                        <p class="card-text">Console: @item.Console.Name</p>
                        <p class="card-text"> Price:  @item.Price₪</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Go to Game page</a>
                        @if (Context.User.IsInRole("Admin"))
                        {
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        }
                    </div>
                </div>


            </div>

        }

    </div>
</div>


@section Scripts{
    <script src="~/js/Search.js" asp-append-version="true"></script>

}

